<div id="login">
    <div class="panel panel-primary login">
        <div class="panel-heading">Login to ICLART</div>
        <div class="panel-body">
            <p *ngIf="result.isError == true">{{result.Message}}</p>
            <form #loginForm="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="Name">Email<sup>*</sup></label>
                    <input type="email" name="username" class="form-control" required placeholder="Email" [(ngModel)]="email" />
                    <small [hidden]="!formErrors.username">
                        {{formErrors.username}}
                    </small>
                </div>
                <div class="form-group">
                    <label for="Price">Password<sup>*</sup></label>
                    <input type="password" name="password" class="form-control" required placeholder="Password" [(ngModel)]="password" />
                    <small [hidden]="!formErrors.password">
                        {{formErrors.password}}
                    </small>
                </div>
                <div class="loginForm-action-buttons">
                    <button class="btn btn-success" type="submit" (click)="login()" [disabled]="!loginForm.form.valid">Login</button> <br />
                    <a routerLink ="/forgot-password">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>