.table-borderless,
.table-borderless tr,
.table-borderless tbody td,
.table-borderless thead th,
.table-borderless tfoot th {
	border: none !important;
}

.inline-block {
    display:inline-block;
}

