#accountRegister {
    margin-top:-20px;
    .form-control {
        width:25%;
    }
    sup {
        color:red;
    }
    small {
        color: red;
    }
     .alert {
        width:15%;
        text-align:center;
        position:absolute;
        left:45%;
        top:55px;
    }
}