<div id="rolesList">
    <div class="alert alert-danger" *ngIf="resultForm.isError">{{resultForm.Message}}</div>
    <div class="rolesList-display">
        <label>New Role:</label>
    </div>
    <div class="rolesList-display">
        <input type="text" class="form-control" [(ngModel)]="newRole" />
    </div>
    <div class="rolesList-display">
        <button class="btn btn-primary" [disabled]="newRole == ''">Add New Role</button>
    </div>   
    <div class="rolesList-table panel panel-primary">
        <div class="panel-body">
            <table class="table header-fixed">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of result.ResultList">
                        <td>
                            {{role.Name}}
                            <!--<div *ngIf="editForm[competitor.Id] == false">
                                {{editFormData[competitor.Id]}}
                            </div>
                            <div *ngIf="editForm[competitor.Id] == true">
                                <input type="text" class="form-control" [(ngModel)]="editFormData[competitor.Id]" />
                            </div>-->
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <!--<div *ngIf="editForm[competitor.Id] == false">
                                <button class="btn btn-success btn-sm" (click)="edit(competitor.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </div>
                            <div *ngIf="editForm[competitor.Id] == true">
                                <button class="btn btn-success btn-sm" [disabled]="editFormData[competitor.Id] == '' || checkIfExist(editFormData[competitor.Id], competitor.Id) == true" (click)="updateCompetitor(competitor.Id)"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>-->
                        </td>
                        <td><button class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#myModal"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the selected item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCompetitor()">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>