#changePassword {
     margin-top:-20px;
     .changePassword-group {
        width:25%;
        margin: 0 auto;
        margin-top: 100px !important;
        border-color: #142b3d;
        .panel-heading {
            background-color: #142b3d;
            border-color: #142b3d;
            font-size:20px;
        }
        .changePassword-action-buttons {
            text-align:center;
        }
     }
    .form-control {
        width:100%;
    }
    sup {
        color:red;
    }
    small {
        color: red;
    }
}