<div id="changePassword">
    <div class="changePassword-group panel panel-primary">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form #changePasswordForm="ngForm" novalidate>

                <div class="form-group">
                    <label for="oldPassword">Old Password<sup>*</sup></label>
                    <input type="password" name="oldPassword" class="form-control" required placeholder="Old Password" [(ngModel)]="oldPassword" />
                    <small [hidden]="!formErrors.oldPassword">
                        {{formErrors.oldPassword}}
                    </small>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password<sup>*</sup></label>
                    <input type="password" name="newPassword" class="form-control" required placeholder="New Password" [(ngModel)]="newPassword" />
                    <small [hidden]="!formErrors.newPassword">
                        {{formErrors.newPassword}}
                    </small>
                </div>
                <div class="changePassword-action-buttons">
                    <a class="btn btn-default" (click)="onBack()">Cancel</a>
                    <button class="btn btn-success" type="submit" (click)="changePassword()" [disabled]="!changePasswordForm.form.valid">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>