#viewProduct {
      .product-name {
         display:inline-block;
         padding-right:10px;
     }
     .edit-button {
         display:inline-block;
     }
     .panel-body {
         table {
             width: 55%;
         }
         .fin-table {
             width: 32%;
         }
     }
}