#clientList {
    .add-client {
        float: right;
    }
    .show-columns {        
        float: left;
       
    }
    .client-filter {
        float: left;
        width: 50%;
    }
    table {
        .thead-name {
            width:40%;
        }
    }
}