<div id="resetPassword">
    <div class="panel panel-primary reset-password">
        <div class="panel-heading">Reset Password</div>
        <div class="panel-body">
            <p *ngIf="result.isError == true">{{result.Message}}</p>
            <form #resetPasswordForm="ngForm" novalidate>
                <div class="form-group">
                    <label for="Name">New Password<sup>*</sup></label>
                    <input type="password" name="newPassword" class="form-control" required placeholder="New Password" [(ngModel)]="newPassword" />
                    <small [hidden]="!formErrors.newPassword">
                        {{formErrors.newPassword}}
                    </small>
                </div>
                <div class="resetPassword-action-buttons">
                    <a class="btn btn-default" routerLink="">Cancel</a>
                    <button class="btn btn-success" type="submit" (click)="reset()" [disabled]="!resetPasswordForm.form.valid">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>