.navbar {
    background-color: #142B3D !important;
    border: none !important;
    border-radius: 0px !important;

    color:white !important;
    .navbar-brand, a  {
        color: white !important;
    }
    .dropdown-menu {
        li {
            a {
                color: #333 !important;
            }
           
        }
    }
    .open {
        a {
            color:#333 !important;
        }
    }
    a {
        cursor:pointer;
    }

}
