
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home">ICLART</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" *ngIf="isAuthenticated == true">
                <li class="dropdown" *ngIf="isAdmin == true">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/accounts">Account Management</a></li>
                        <li><a routerLink="/clients">Client Management</a></li>
                        <li><a routerLink="/competitors">Competitor Management</a></li>
                        <li><a routerLink="/products">Product Management</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="isSecretary == true || isSalesManager == true">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales Order Slips <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/sos-form">New Sales Order Slip</a></li>
                        <li><a routerLink="/sos-list">Sales Order Slips List</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  *ngIf="isAuthenticated == true">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/change-password']">Change Password</a></li>
                        <li><a (click)="logOut()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>