<div id="productList">
    <div class="product-filter">
        <div class="input-group">
            <input type="text" class="form-control" name="productName" placeholder="Search for product..." [(ngModel)]="productName" (keyup.enter)="searchProduct()">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="searchProduct()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div class="add-product">
        <a class="btn btn-primary" routerLink="/productForm" >Add Product</a>
    </div> 
    <div class="product-category-filter">
        <div class="inline-block">
            Filter:
        </div>
        <div class="inline-block">
            <select [(ngModel)]="categoryFilter" name="productCategoryFilter" class="form-control"  (ngModelChange)="filterProducts()">
                <option disabled>Select Product Category</option>
                <option *ngFor="let category of categories" [ngValue]="category">
                    {{category}}
                </option>
            </select>
        </div>
        <div class="inline-block" *ngIf="categoryFilter != 'Select Product Category'">
            <label (click)="clearFilter()">Clear Filter</label>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
        <table class="table  table-responsive header-fixed">
            <thead>
                <tr>
                    <th class="thead-name">Name</th>
                    <th>Product Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of result.ResultList">
                    <td><a [routerLink]="['/product', product.Id]">{{product.Name}}</a></td>
                    <td>{{product.ProductCategory.Name}}</td>
                    <td><a class="btn btn-success btn-sm" [routerLink]="['/productForm', product.Id]"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                    <td><button class="btn btn-danger btn-sm" (click)="setProduct(product.Id)" data-toggle="modal" data-target="#myModal"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the selected item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProduct()">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </div>