#forgotPassword {
    p {
        text-align:center;
        color:red;
    }
    .forgot-password {
        width:25%;
        margin: 0 auto;
        margin-top: 100px !important;
        border-color: #142b3d;
        .panel-heading {
            background-color: #142b3d;
            border-color: #142b3d;
            font-size:20px;
        }
     .btn {
            width:100px;
            font-size:15px;
            margin-bottom:10px;
        }

        
    }
    .forgotPassword-action-buttons {
        text-align:center;
    }
    sup {
        color: red;
    }
    small {
        color:red;
    }
}