#accountResetExpired {
     .reset-expired {
        width:25%;
        margin: 0 auto;
        margin-top: 100px !important;
        border-color: #142b3d;
        .panel-heading {
            background-color: #142b3d;
            border-color: #142b3d;
            font-size:20px;
        }        
    }
}